<ion-header>
  <ion-toolbar>
    <ion-title>
      Matikkapeli
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item>
      <ion-input class="ion-text-center" readonly value="{{ num1 }}"></ion-input>
      <ion-label>+</ion-label>
      <ion-input class="ion-text-center" readonly value="{{ num2 }}"></ion-input>
      <ion-label>=</ion-label>
      <ion-input  class="ion-text-center" [(ngModel)]="vastaus" type="number" step="1"></ion-input>
    </ion-item>
  </ion-list>
  <div class="ion-padding">
    <ion-button block (click)="laske()">Tarkasta</ion-button>
  </div>
</ion-content>
